<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
<header th:insert="/blocks/header :: header"></header>

<div th:insert="/blocks/login :: login"></div>

<div th:insert="/blocks/reg :: reg"></div>

<div th:insert="/blocks/home :: home"></div>

<div th:insert="/blocks/vehicles:: vehicles"></div>

<div th:insert="/blocks/services:: services"></div>

<div th:insert="/blocks/reviews :: reviews"></div>

<div th:insert="/blocks/contact :: contact"></div>

     <section class="footer" id="footer">

        <div class="box-container">

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> vehicles </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> services </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> contact </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +7 708 312 0167 </a>
                <a href="#"> <i class="fas fa-phone"></i> +7 708 312 0160 </a>
                <a href="#"> <i class="fas fa-envelope"></i> mielesenn@gmail.com </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> Astana, Kazakhstan </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

        </div>

        <div class="credit"> created by Tolebi, Zhalgas, Meyrambek, Elena, Aiym </div>
     </section>


    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <script src="js/script.js"></script>

</body>

</html>