<div th:fragment="reg">
    <div class="reg-form-container">

        <span id="close-reg-form" class="fas fa-times"></span>

        <form action="">
            <h3>User registration</h3>
            <input type="name" placeholder="name" class="box">
            <input type="email" placeholder="email" class="box">
            <input type="password" placeholder="password" class="box">
            <input type="submit" value="registration" class="btn">

            <p>Have an account <a href="#" id="log-text">Log in</a> </p>
        </form>

    </div>

</div>
